.pdf-layer__canvas {
    inset: 0;
}
.pdf-layer__text {
    inset: 0;
    position: absolute;
    opacity: 1;
    line-height: 1;
    z-index: 5;
    br::selection {
      color: transparent;
    }

    span {
        color: transparent;
        cursor: text;
        position: absolute;
        transform-origin: 0% 0%;
        white-space: pre;
        &::selection {
        background-color: rgba(135, 135, 255, 0.5);
        color: transparent;
        }
    }
}